{% extends "personal/basicHeader.html" %}
{% load staticfiles %}
{% block content %}
	
{% endblock %}

{% block moreContent %}


<section id="services">
        <div class="container">
            <div class="row">
    
    <div class="col"><a href='/familyRecords/'> <img border="0" alt="famRec" src="{% static 'assets/img/clientRecords.png' %}" width="150" height="150"></a></div>
                <div class="col"> <a href='/reports/'><img border="0" alt="famRec" src="{% static 'assets/img/clientReports.png' %}" width="150" height="150"></a></div>

                <div class="col"><a href='/contact/' ><img border="0" alt="famRec" src="{% static 'assets/img/contact.png' %}" width="150" height="150"></a></div>
            </div>
        </div>
    </section>
    <!--<li><a href='/'>Home</a></li>
    <li><a href='/contact/' >Contact</a></li>-->


{% endblock %}
