{% extends "personal/header.html" %}

{% block content %}
	<li><a href='/'>Home</a></li>
    <li><a href='/contact/'>Contact</a></li>
    <li><a href='/visitRecords/'>Add Visit</a></li>
{% endblock %}

{% block moreContent %}
<form action="" method="post">
    {% csrf_token %}
    <h3>Family:  {{ form.family }} </h3>
    <h3>Date:  {{ form.date }} </h3>
    <h3>Pounds: {{form.pounds_of_food }} </h3>
    <h3>Notes:  {{ form.visit_notes }} </h3>
    <input type="submit" value="Submit">
</form>
{% endblock %}
