{% extends "personal/basicHeader.html" %}

{% block content %}
    <br>
	<li><a href='/'>Home</a></li>
{% endblock %}

{% block moreContent %}
    <form action="/familyRecords/search" method="get">
        <h5></h5>
        {% csrf_token %}
        <input type="submit" value="Search">

        <h5></h5>
    </form>


    <form action="/familyRecords/newFamily" method="get">
        {% csrf_token %}

        <input type="submit" value="Add a Family">
        <h5></h5>
    </form>

        List By: <select name = "list_option" id= "list_option" onchange="myFunction()">
            <option value="all">All</option>
            <option value="active">Active</option>
            <option value="non_active">Non-Active</option>

        </select> <h5></h5>
    {% for family in object_list %}
        <h5 onclick="myFunction(this)" id="family_{{forloop.counter0}}"> <a href="/familyRecords/updateFamily/?id={{family.id}}">{{family.primary_contact_last_name}}, {{family.primary_contact_first_name}} ID: {{family.id}} Status: {{family.status}}</a>
        <input value = "{{family.status}}" id = "family_{{forloop.counter0}}_status" hidden="true"></h5>
        {% if forloop.counter0 == forloop.counter0|add:forloop.revcounter0 %}
            <input value = "{{forloop.counter0|add:forloop.revcounter}}" id = "size" hidden = "true" >
        {% endif %}
    {% endfor %}



<script>
function myFunction() {
    var i;
    var status_toggle = document.getElementById("list_option").value;


        for (i = 0; i < document.getElementById("size").value; i++) {
            var family_status = document.getElementById("family_"+ i + "_status").value;

            if (status_toggle == "active") {
                if (family_status == "Active") {
                    var x = document.getElementById("family_"+ i);
                    x.style.display = "block";
                }
                else {
                    var x = document.getElementById("family_"+ i);
                    x.style.display = "none";
                }
            }
            else if (status_toggle == "non_active") {
                if (family_status == "Active") {
                    var x = document.getElementById("family_"+ i);
                    x.style.display = "none";
                }
                else {
                    var x = document.getElementById("family_"+ i);
                    x.style.display = "block";
                }
            }
            else {
                var x = document.getElementById("family_"+ i);
                x.style.display = "block";
            }
        }

}
</script>
{% endblock %}

