{% extends "personal/basicHeader.html" %}

{% block content %}
	<li><a href='/'>Home</a></li>
    <li><a href='/contact/'>Contact</a></li>
{% endblock %}

{% block moreContent %}
    <form action="/familyRecords/search" method="get">
        {% csrf_token %}
        <h5>First Name: <input type="text" value="" name = "first_name"></h5>
        <h5>Last Name: <input type="text" value="" name = "last_name"></h5>
        <h5>Family ID: <input type="number" name = "family_id"></h5>
        <input type="submit" value="Search">
        <h5></h5>
    </form>



    {% for family in object_list %}
        <h5><a href="/familyRecords/updateFamily/?id={{family.id}}">{{family.primary_contact_last_name}}, {{family.primary_contact_first_name}} ID: {{family.id}}  Status: {{family.status}}</a> </h5>
    {% endfor %}

    <form action="/familyRecords/newFamily" method="get">
        {% csrf_token %}

        <input type="submit" value="Add a Family">
        <h5></h5>
    </form>

{% endblock %}