{% extends "personal/basicHeader.html" %}

{% block content %}
    <br>
	<li><a href='/'>Home</a></li>
    <li><a href='/contact/'>Contact</a></li>
    <li><a href='/familyRecords/'>Family Records</a></li>
{% endblock %}

{% block moreContent %}
<form action="" method="post">
    {% csrf_token %}
    <h3></h3>
    <h5>Family: {{ form.family }} </h5>
    <h5> Date: <input style="width:200px;" type ="date" size="5" class="form-control" value= {{form.date}} </h5>
    <h5> Project: {{ form.project }} </h5>
    <h5> Notes: {{ form.project_notes }} </h5>
    <h5>Volunteer:  {{form.volunteer}} </h5>

    <input type="submit" value="Submit">
</form>
{% endblock %}