{% extends "personal/basicHeader.html" %}

{% block content %}
    <br>
	<li><a href='/'>Home</a></li>
    <li><a href='/familyRecords/'>Family Records</a></li>
{% endblock %}

{% block moreContent %}
<form action="" method="post">
    {% csrf_token %}
    <br>
    <h5 style="color:red;">{{error}}</h5>
    <h5>Primary Contact (First Name  Last Name): </h5><h5> {{ form.primary_contact_first_name }} {{form.primary_contact_last_name}} </h5>
    <h5>ID:  {{ family.id }} </h5>



    <h5>Members: <a href='/familyRecords/newPerson/?familyid={{family.id}}'> Add a Member</a> </h5>
           <h5></h5>
    {% for person in members %}
        <h7> {{person}} Age: {{person.age}}  Status: {{person.status}}  <a href='/familyRecords/updatePerson/?personid={{person.id}}&familyid={{person.family.id}}'>Edit</a>
        </h7><br>
    {% endfor %}


             <h3></h3>

    <h5>Visits:  <a href='/familyRecords/newVisit/?familyid={{family.id}}'> Add a Visit</a> </h5>
          <h7><select name = "list_option_visits" id= "list_option_visits" onchange="visitView()">

            {% for visit_year in visit_years %}
                 <option value="{{visit_year}}">{{visit_year}}</option>
            {% endfor %}
              <option value="none">Hidden</option>
    </select> </h7> <h5></h5>
    {% for visit in visits %}
        {% if visit.get_year == visit_years|first %}
            <h7  id="visit_{{forloop.counter0}}" style="display:block">{{visit}} Pounds of Food: {{visit.pounds_of_food}}
            <input value = "{{visit.get_year}}" id = "visit_{{forloop.counter0}}_year" hidden="true"> </h7>
        {% else %}
            <h7  id="visit_{{forloop.counter0}}" style="display:none">{{visit}} Pounds of Food: {{visit.pounds_of_food}}
            <input value = "{{visit.get_year}}" id = "visit_{{forloop.counter0}}_year" hidden="true"> </h7>
        {% endif %}
        {% if forloop.counter0 == forloop.counter0|add:forloop.revcounter0 %}
            <input value = "{{forloop.counter0|add:forloop.revcounter}}" id = "size" hidden = "true" >
        {% endif %}
    {% endfor %}





    <h3></h3>

       <h5>Special Projects:  <a href='/familyRecords/specialProjectVisit/?familyid={{family.id}}'>Add a Special Project </a> </h5>
          <h7><select name = "list_option_special_projects" id= "list_option_special_projects" onchange="specialProjectsView()">

            {% for project_year in special_projects_years %}
                 <option value="{{project_year}}">{{project_year}}</option>
            {% endfor %}
              <option value="none">Hidden</option>
    </select> </h7> <h5></h5>
    {% for visit in special_projects %}
        {% if visit.get_year == special_projects_years|first %}
             <h7  id="special_project_{{forloop.counter0}}" style="display:block">{{visit}}
            <input value = "{{visit.get_year}}" id = "special_project_{{forloop.counter0}}_year" hidden="true"></h7>
        {% else %}
            <h7  id="special_project_{{forloop.counter0}}" style="display:none">{{visit}}
            <input value = "{{visit.get_year}}" id = "special_project_{{forloop.counter0}}_year" hidden="true"></h7>
        {% endif %}
        {% if forloop.counter0 == forloop.counter0|add:forloop.revcounter0 %}
            <input value = "{{forloop.counter0|add:forloop.revcounter}}" id = "special_projects_size" hidden = "true" >
        {% endif %}
    {% endfor %}

    <h3></h3>

    {{ form.date.as_hidden }}
    <h5>Proof of Address:  {{ form.proof_of_address }} </h5>
    <h5>Address:  {{form.address}}</h5>
    <h5>City:  {{ form.city }} </h5>
    <h5>Zip Code  {{ form.zip }} </h5>
    <h5>Phone #: {{form.phone}}</h5><h3></h3>
    <h5>MFIP:  {{form.mfip}}</h5>
    <h5>WIC:  {{form.wic}}</h5>
    <h5>General Assist:  {{form.general_assist}}</h5>
    <h5>Workers Comp:  {{form.workers_comp}}</h5>
    <h5>Pension:  {{form.pension}}</h5>
    <h5>Social Security: {{form.social_security}}</h5>
    <h5>SSI: {{form.ssi}}</h5>
    <h5>Fuel Assist: {{form.fuel_assist}}</h5>
    <h5>Child Support: {{form.child_support}}</h5>
    <h5>SNAP: {{form.snap}}</h5>
    <h5>Unemployment: {{form.unemployment}}</h5>
    <h5>Wages: {{form.wages1}}</h5>
    <h5>Wages: {{form.wages2}}</h5>
    <h5>Medical Insurance/Assistance: {{form.insurance_assistance}}</h5>
    <h5>Status: {{form.status}}</h5>
    <h5>Monthly Totals:  {{ form.monthly_total.value }} </h5> {{ form.monthly_total.as_hidden }}

    <h5>Notes:  {{ form.notes }} </h5>
    <h5>Volunteer:  {{form.volunteer}} </h5>

    <input type="submit" value="Submit">
</form>



<script>
function memberView() {
    var i;
    var toggle = document.getElementById("list_option_members").value;


        for (i = 0; i < document.getElementById("size").value; i++) {
            if (toggle == "none") {
                var x = document.getElementById("member_"+ i);
                x.style.display = "none";
            }
            else {
                    var x = document.getElementById("member_"+ i);
                    x.style.display = "block";

           }
        }

}
</script>


<script>
function visitView() {
    var i;
    var toggle = document.getElementById("list_option_visits").value;


        for (i = 0; i < document.getElementById("size").value; i++) {
            var visit_year = document.getElementById("visit_"+ i + "_year").value;
            if (toggle == "none") {
                var x = document.getElementById("visit_"+ i);
                x.style.display = "none";
            }
            else {
                if (toggle == visit_year) {
                    var x = document.getElementById("visit_"+ i);
                    x.style.display = "block";
                }
                else {
                   var x = document.getElementById("visit_"+ i);
                   x.style.display = "none";
                }
           }
        }

}
</script>

<script>
function specialProjectsView() {
    var i;
    var toggle = document.getElementById("list_option_special_projects").value;


        for (i = 0; i < document.getElementById("special_projects_size").value; i++) {
            var visit_year = document.getElementById("special_project_"+ i + "_year").value;
            if (toggle == "none") {
                var x = document.getElementById("special_project_"+ i);
                x.style.display = "none";
            }
            else {
                if (toggle == visit_year) {
                    var x = document.getElementById("special_project_"+ i);
                    x.style.display = "block";
                }
                else {
                   var x = document.getElementById("special_project_"+ i);
                   x.style.display = "none";
                }
           }
        }

}
</script>

<script>
function breadVisitView() {
    var i;
    var toggle = document.getElementById("list_option_visits").value;


        for (i = 0; i < document.getElementById("size").value; i++) {
            var visit_year = document.getElementById("visit_"+ i + "_year").value;
            if (toggle == "none") {
                var x = document.getElementById("visit_"+ i);
                x.style.display = "none";
            }
            else {
                if (toggle == visit_year) {
                    var x = document.getElementById("visit_"+ i);
                    x.style.display = "block";
                }
                else {
                   var x = document.getElementById("visit_"+ i);
                   x.style.display = "none";
                }
           }
        }

}
</script>
{% endblock  %}
